.header {
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: 10px;
}

.header h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}
