/*.name{

}*/

.number{
  border-radius: 5px;
  height: 38px;
  width: 30px;
  border: none;
  text-align: center;
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
